# STS(eclipse) project files #
##############################
.settings/
.classpath
.project

# Compiled class files #
########################
/bin/

# Package Files #
#################
*.jar
*.war
*.ear
*.db

# Logs #
########
/log/*
*.log

# WinMerge .bak files #
#######################
*.bak
